<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    ><h1>Form Update</h1>
    <form action="/todos/<%= todo.id %>?_method=put" method="post">
      <label>title</label>
      <input type="text" name="title" value="<%= todo.title %>" />
      <label>description</label>
      <textarea type="text" name="description">
    <%= todo.description %></textarea
      >
      <button type="submit">update todo</button></form
    ></body
  >
</html>
