<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    ><h1>Form create</h1>
    <form action="/new" method="post">
      <label>title</label>
      <input type="text" name="title" />
      <label>description</label>
      <textarea type="text" name="description"></textarea>
      <button type="submit">Add new todo</button></form
    ></body
  >
</html>
